name: Sync

on:
  # Daily at every 4h UTC
  schedule:
    - cron: "15 */4 * * *"

  # Manual trigger
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Install Python & dependencies
        run: uv sync --frozen

      - name: Run sync script
        env:
          TOKEN: ${{ secrets.TOKEN }}
          PROFILE: ${{ secrets.PROFILE }}
        run: uv run python main.py
